{% extends 'base/index.html' %}

{% block title %}
Safira Energía - Bienvenido a Safira Energía Chile
{% endblock %}

{% block content %}
<!-- Carousel Start -->
<div class="container-fluid p-0 pb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative" data-dot="<img src='../../static/img/carousel-1.jpg'>">
            <img class="img-fluid" src="../../static/img/carousel-1.jpg" alt="">
            <div class="owl-carousel-inner">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-2 text-white animated slideInDown">
                                La Safira Energía
                            </h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-3">
                                Safira Energía nace en 2008 en Brasil como empresa comercializadora de energía, en el
                                Mercado Libre.
                            </p>
                            <a href="/nosotros" class="btn btn-blue rounded-pill py-3 px-5 animated slideInLeft">
                                Conocer Más
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative" data-dot="<img src='../../static/img/carousel-2.jpg'>">
            <img class="img-fluid" src="../../static/img/carousel-2.jpg" alt="">
            <div class="owl-carousel-inner">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-2 text-white animated slideInDown">Migra con nosotros al Mercado Libre
                            </h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-3">
                                Conoce un poco del mercado libre y los beneficios que puedes obtener al ser un
                                consumidor libre con Safira Energía.
                            </p>
                            <a href="/mercado-libre-safira"
                                class="btn btn-green rounded-pill py-3 px-5 animated slideInLeft">Leer Más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative"
            data-dot="<img src='https://www.safiraenergia.cl/assets/luce_desk%201.svg'>">
            <img class="img-fluid" src="../../static/img/LUCE-carrusel.jpg" alt="Imagen de LUCE" width="10%"
                height="10%">
            <div class="owl-carousel-inner">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-2 text-white animated slideInDown">LUCE, La primera plataforma de
                                clientes libres del mercado Chileno.
                            </h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-3">
                                Ten acceso al análisis de ahorro de energía,información de consumo, facturas y detalles
                                de costos
                                a solo un click simple de distancia.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->

<!-- Fixed Cards Start -->
<div class="fixed-cards-container">
    <div class="fixed-cards" data-wow-delay="0.5s">
        <div class="card">
            <div class="card-header">
                <div class="card-icon-container">
                    <div class="card-icon"><i class="fa-solid fa-right-left text-white"></i></div>
                </div>
                <h3 class="card-title">Migración</h3>
            </div>
            <p>
                Te ayudamos sin dejarte solo, el paso a paso de como debes realizar el cambio para ser Cliente Libre con Safira
                Energía Chile.
            </p>
        </div>
        <div class="card-orange">
            <div class="card-header">
                <div class="card-icon-container">
                    <div class="card-icon"><i class="fa fa-users-cog text-white"></i></div>
                </div>
                <h3 class="card-title">Consultoría y Asesoría</h3>
            </div>
            <p>
                Podemos ayudarte y asesorarte en cada paso que necesites, aquí Safira Energía te ayudara en todo para satisfacer cada una de tus preguntas.
            </p>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="card-icon-container">
                    <div class="card-icon"><i class="fa fa-award text-white"></i></div>
                </div>
                <h3 class="card-title">Comercialización</h3>
            </div>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
        </div>
    </div>
</div>
<!-- Fixed Cards End -->


<!-- About Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container about px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 ps-lg-0 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="../../static/img/about.jpg"
                        style="object-fit: cover;" alt="">
                </div>
            </div>
            <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 pe-lg-0">
                    <h6 class="text-blue" style="color: #022873;">Sobre Nosotros</h6>
                    <h1 class="mb-4">Autonomía para hacer el futuro de la energía.</h1>
                    <p>
                        Desde casi 15 años de experiencia, Safira Energía ha entregado soluciones energéticas
                        innovadoras,
                        para el uso de la electricidad de forma eficiente y sostenible.
                    </p>
                    <p><i class="fa fa-check-circle me-3" style="color: #F2BD1D;"></i>Somos una empresa comprometida en
                        la entrega de soluciones energéticas sostenibles.</p>
                    <p><i class="fa fa-check-circle me-3" style="color: #80BF21;"></i>Ofrecemos las mejores soluciones a
                        travéz de productos y servicios innovadores.</p>
                    <p><i class="fa fa-check-circle me-3" style="color: #022873;"></i>Excelencia, trabajo en equipo,
                        integridad y orientaciones a todos nuestros clientes.</p>
                    <a href="/nosotros" class="btn btn-orange rounded-pill py-3 px-5 mt-3">
                        <span>Explorar más</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h6 class="text-blue" style="color: #022873;">Nuestros Servicios</h6>
            <h1 class="mb-4">Conoce algunos de nuestros servicios que tenemos para nuestros clientes</h1>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded overflow-hidden">
                    <img class="img-fluid" src="../../static/img/LUCE-carrusel.jpg" width="900%" height="800%" alt="">
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <i class="fa-solid fa-hexagon-nodes-bolt fa-3x"></i>
                        </div>
                        <h4 class="mb-3">Plataforma LUCE</h4>
                        <p>La primera plataforma de análisis de ahorro de energía, consumos y facturas para clientes
                            libres del mercado Chileno.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded overflow-hidden">
                    <img class="img-fluid" src="../../static/img/img-600x400-2.jpg" alt="">
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <i class="fa-solid fa-leaf fa-3x"></i>
                        </div>
                        <h4 class="mb-3">Energía Libre</h4>
                        <p>Tenemos un mercado por la energía libre para nuestros clientes.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->


<!-- Feature Start -->
<div class="container-fluid bg-multicolor py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h1 class="mb-4">¿Necesitas ayuda o solicitar una cotización con nosotros?</h1>
                <p class="mb-5 mx-auto text-dark" style="max-width: 700px;">
                    Para contactarte con nosotros puedes hacerlo a travéz de dos formas, puedo mandar una cotización con la área cormecial
                    o bien puedes ir directamente a nuestro formulario de contacto y mandarnos tus dudas.
                </p>
                <a href="{% url 'contactos' %}" class="btn btn-primary rounded-0 px-4 py-2 fw-medium align-items-center justify-content-center">
                    Habla con nosotros 
                    <i class="bi bi-telephone"></i>
                </a>
                <a href="{% url 'cotizaciones' %}" class="btn btn-primary rounded-0 px-4 py-2 fw-medium align-items-center justify-content-center">
                    Solicita una cotización
                    <i class="bi bi-arrow-up-right ms-2"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->


<!-- Projects Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h6 class="text-blue" style="color: #022873;">Our Projects</h6>
            <h1 class="mb-4">Visit Our Latest Solar And Renewable Energy Projects</h1>
        </div>
        <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-12 text-center">
                <ul class="list-inline mb-5" id="portfolio-flters">
                    <li class="mx-2 active" data-filter="*">All</li>
                    <li class="mx-2" data-filter=".first">Solar Panels</li>
                    <li class="mx-2" data-filter=".second">Wind Turbines</li>
                    <li class="mx-2" data-filter=".third">Hydropower Plants</li>
                </ul>
            </div>
        </div>
        <div class="row g-4 portfolio-container wow fadeInUp" data-wow-delay="0.5s">
            <div class="col-lg-4 col-md-6 portfolio-item first">
                <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="../../static/img/img-600x400-6.jpg" alt="">
                    <div class="portfolio-btn">
                        <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
                            href="../../static/img/img-600x400-6.jpg" data-lightbox="portfolio"><i
                                class="fa fa-eye"></i></a>
                        <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href=""><i
                                class="fa fa-link"></i></a>
                    </div>
                </div>
                <div class="pt-3">
                    <p class="text-blue mb-0" style="color: #80BF21;">Solar Panels</p>
                    <hr class="text-blue w-25 my-2" style="color: #80BF21;">
                    <h5 class="lh-base">We Are pioneers of solar & renewable energy industry</h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item second">
                <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="../../static/img/img-600x400-5.jpg" alt="">
                    <div class="portfolio-btn">
                        <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
                            href="../../static/img/img-600x400-5.jpg" data-lightbox="portfolio"><i
                                class="fa fa-eye"></i></a>
                        <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href=""><i
                                class="fa fa-link"></i></a>
                    </div>
                </div>
                <div class="pt-3">
                    <p class="text-blue mb-0" style="color: #D95C14;">Wind Turbines</p>
                    <hr class="text-blue w-25 my-2" style="color: #D95C14;">
                    <h5 class="lh-base">We Are pioneers of solar & renewable energy industry</h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item third">
                <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="../../static/img/img-600x400-4.jpg" alt="">
                    <div class="portfolio-btn">
                        <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
                            href="../../static/img/img-600x400-4.jpg" data-lightbox="portfolio"><i
                                class="fa fa-eye"></i></a>
                        <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href=""><i
                                class="fa fa-link"></i></a>
                    </div>
                </div>
                <div class="pt-3">
                    <p class="text-blue mb-0" style="color: #F2BD1D;">Hydropower Plants</p>
                    <hr class="text-blue w-25 my-2" style="color: #F2BD1D;">
                    <h5 class="lh-base">We Are pioneers of solar & renewable energy industry</h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item first">
                <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="../../static/img/img-600x400-3.jpg" alt="">
                    <div class="portfolio-btn">
                        <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
                            href="../../static/img/img-600x400-3.jpg" data-lightbox="portfolio"><i
                                class="fa fa-eye"></i></a>
                        <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href=""><i
                                class="fa fa-link"></i></a>
                    </div>
                </div>
                <div class="pt-3">
                    <p class="text-blue mb-0" style="color: #022873;">Solar Panels</p>
                    <hr class="text-blue w-25 my-2" style="color: #022873;">
                    <h5 class="lh-base">We Are pioneers of solar & renewable energy industry</h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item second">
                <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="../../static/img/img-600x400-2.jpg" alt="">
                    <div class="portfolio-btn">
                        <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
                            href="../../static/img/img-600x400-2.jpg" data-lightbox="portfolio"><i
                                class="fa fa-eye"></i></a>
                        <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href=""><i
                                class="fa fa-link"></i></a>
                    </div>
                </div>
                <div class="pt-3">
                    <p class="text-blue mb-0" style="color: #F2BD1D;">Wind Turbines</p>
                    <hr class="text-blue w-25 my-2" style="color: #F2BD1D;">
                    <h5 class="lh-base">We Are pioneers of solar & renewable energy industry</h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item third">
                <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="../../static/img/img-600x400-1.jpg" alt="">
                    <div class="portfolio-btn">
                        <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
                            href="../../static/img/img-600x400-1.jpg" data-lightbox="portfolio"><i
                                class="fa fa-eye"></i></a>
                        <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href=""><i
                                class="fa fa-link"></i></a>
                    </div>
                </div>
                <div class="pt-3">
                    <p class="text-blue mb-0" style="color: #80BF21;">Hydropower Plants</p>
                    <hr class="text-blue w-25 my-2" style="color: #80BF21;">
                    <h5 class="lh-base">We Are pioneers of solar & renewable energy industry</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Projects End -->

<!-- Testimonial Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h6 class="text-blue" style="color: #022873;">Testimonios</h6>
            <h1 class="mb-4">Que dicen nuestros clientes!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item text-center">
                <div class="testimonial-img position-relative">
                    <img class="img-fluid rounded-circle mx-auto mb-5" src="../../static/img/testimonial-1.jpg">
                    <div class="btn-square bg-primary rounded-circle">
                        <i class="fa fa-quote-left text-white"></i>
                    </div>
                </div>
                <div class="testimonial-text text-center rounded p-4">
                    <p>Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna ut
                        diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum justo sea clita.
                    </p>
                    <h5 class="mb-1">Client Name</h5>
                    <span class="fst-italic">Profession</span>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <div class="testimonial-img position-relative">
                    <img class="img-fluid rounded-circle mx-auto mb-5" src="../../static/img/testimonial-2.jpg">
                    <div class="btn-square bg-primary rounded-circle">
                        <i class="fa fa-quote-left text-white"></i>
                    </div>
                </div>
                <div class="testimonial-text text-center rounded p-4">
                    <p>Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna ut
                        diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum justo sea clita.
                    </p>
                    <h5 class="mb-1">Client Name</h5>
                    <span class="fst-italic">Profession</span>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <div class="testimonial-img position-relative">
                    <img class="img-fluid rounded-circle mx-auto mb-5" src="../../static/img/testimonial-3.jpg">
                    <div class="btn-square bg-primary rounded-circle">
                        <i class="fa fa-quote-left text-white"></i>
                    </div>
                </div>
                <div class="testimonial-text text-center rounded p-4">
                    <p>Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna ut
                        diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum justo sea clita.
                    </p>
                    <h5 class="mb-1">Client Name</h5>
                    <span class="fst-italic">Profession</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
{% endblock %}