{% extends 'base/index.html' %}

{% block title %}
Safira Energía - Contactanos en Safira Chile
{% endblock %}

{% block content %}
<!-- Dynamic Header Start -->
<header class="dynamic-header" id="dynamicHeader">
    <div class="header-content">
        <h1 class="main-title">Contactanos</h1>
        <p class="subtitle">Contactanos para poder ayduarte en cualquier tipo de inquietud o dudas</p>

        <nav class="modern-breadcrumb" aria-label="breadcrumb">
            <div class="breadcrumb-item">
                <a href="{% url 'home' %}" class="breadcrumb-link">
                    <i class="fas fa-home"></i> Inicio
                </a>
            </div>
            <span class="breadcrumb-separator"><i class="fas fa-chevron-right"></i></span>
            <div class="breadcrumb-item">
                <span class="breadcrumb-active">
                  <i class="fas fa-headset"></i> Contacto
                </span>
            </div>
        </nav>
    </div>
</header>
<!-- Dynamic Header End -->

<!-- Contact Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 450px">

        <!-- mapa de la dirección -->
        <div class="position-relative h-100">
          <iframe class="position-relative w-100 h-100"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d826.1114405384404!2d-70.57974553039399!3d-33.41111879833781!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf21940e702d%3A0xc5d8be6d3de3bd47!2sOrinoco%2090%2C%20piso%2021%2C%207560963%20Las%20Condes%2C%20Regi%C3%B3n%20Metropolitana!5e1!3m2!1spt-BR!2scl!4v1755179641465!5m2!1spt-BR!2scl"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="border-start border-5 border-primary ps-4 mb-5">
          <h6 class="text-body text-uppercase mb-2">Contáctanos</h6>
          <h1 class="display-6 mb-0 bold-text" style="color: #022873;">
            No dudes en contactarnos
          </h1>
        </div>
        <p class="mb-4">
          Escribenos a travéz de este formulario para saber de ti y de tu interes con nosotros 
          para dentro de unos días poder contactarte.
        </p>

        <!-- formulario de contacto -->
        <form id="contactForm" method="post" action="{% url 'contactos' %}">
          {% csrf_token %}
          <div class="row g-3">
            <!-- nombre -->
            <div class="col-md-6">
              <div class="form-floating">
                {{ form.nombre }}
                <label for="name" style="color: #022873;"><strong class="text-danger">*</strong> Nombre Completo</label>
              </div>
            </div>

            <!-- correo -->
            <div class="col-md-6">
              <div class="form-floating">
                {{ form.email }}
                <label for="email" style="color: #022873;"><strong class="text-danger">*</strong> Correo Empresa</label>
              </div>
            </div>

            <!-- asunto -->
            <div class="col-12">
              <div class="form-floating">
                {{ form.asunto }}
                <label for="subject" style="color: #022873;"><strong class="text-danger">*</strong> Asunto</label>
              </div>
            </div>

            <!-- text area -->
            <div class="col-12">
              <div class="form-floating">
                {{ form.mensaje }}
                <label for="message" style="color: #022873;"><strong class="text-danger">*</strong> Mensaje</label>
              </div>
            </div>

            <!-- reCaptcha -->
            <div class="col-12">
              <strong class="text-danger">*</strong>
              <br>
              <div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_SITE_KEY }}" data-callback="onRecaptchaSuccess"></div>
            </div>
            <div class="col-12">
              <button class="btn btn-blue rounded-0 py-3 px-5" type="submit" id="submitButton">
                Enviar mensaje <i class="fa-solid fa-check"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->
{% endblock %}