{% extends 'base/index.html' %}

{% block title %}
Safira Energía - Estamos para ayduar cotiza con nosotros en Safira Energía Chile
{% endblock %}

{% block content %}
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Cotiza con nosotros</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="/home">Inicio</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Cotización</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<!-- Quote Start -->
<div class="container-fluid overflow-hidden my-5 px-lg-0">
    <div class="container quote px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 ps-lg-0 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="../../static/img/quote.jpg"
                        style="object-fit: cover;" alt="">
                </div>
            </div>
            <div class="col-lg-6 quote-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 pe-lg-0">
                    <h6 class="text-blue" style="color: #022873;">Envianos tu cotización</h6>
                    <h1 class="mb-4">Rellena el formulario</h1>
                    <p class="mb-4 pb-2">
                        Rellena los campos <strong class="text-danger">(*)</strong> y en minutos tendras una oferta por parte de safira.
                        Si estas interesado en contactarte con nosotros ingresa a este
                        <a style="color: #80BF21; text-decoration: underline;" href="{% url 'contactos' %}">link para enviarnos un correo</a>
                    </p>

                    <form >
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-12">
                                <input type="file" class="form-control border-0" placeholder="* Ingrese el archivo"required>
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control border-0" placeholder="* Su Nombre" style="height: 55px;" required>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control border-0" placeholder="* Rut Empresa"
                                    style="height: 55px;" required>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control border-0" placeholder="* Empresa"
                                    style="height: 55px;" required>
                            </div>
                            <div class="col-12">
                                <input type="email" class="form-control border-0" placeholder="* Su Correo Electrónico"
                                    style="height: 55px;" required>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="number" class="form-control border-0" placeholder="* Su Teléfono"
                                    style="height: 55px;" required>
                            </div>
                            <div class="col-12 col-sm-6">
                                <select name="comuna" class="form-select border-0" style="height: 55px;" required>
                                    <option value="" disabled selected>* Comuna</option>
                                    <option value="Cerrillos">Cerrillos</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-6">
                                <select name="tipo_cliente" class="form-select border-0" aria-placeholder="Tipo Cliente"
                                    style="height: 55px;" required>
                                    <option value="" disabled selected>* Tipo de cliente</option>
                                    <option value="REGULADO">Regulado</option>
                                    <option value="LIBRE">Libre</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-6">
                                <select name="distribuidora" class="form-select border-0" style="height: 55px;"
                                    required>
                                    <option value="" disabled selected>* Distribuidora</option>
                                    <option value="ENEL">Enel</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <textarea class="form-control border-0" placeholder="* Dirección completa"
                                    required></textarea>
                            </div>
                            <div class="col-12">
                                <input class="btn btn-orange rounded-pill py-3 px-5" type="submit" value="Enviar Cotización" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Quote End -->
{% endblock %}