{% extends 'base/index.html' %}

{% block title %}
    Safira Energía - Quienes somos nosotros
{% endblock %}

{% block content %}
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Sobre Nosotros</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="/home">Inicio</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Nosotros</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h6 class="text-blue" style="color: #022873;">Puntos claves</h6>
            <h1 class="mb-4">Ven Conoce Nuestros Puntos</h1>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded overflow-hidden">
                    <img class="img-fluid" src="../../static/img/img-600x400-1.jpg" alt="">
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <i class="fa fa-users fa-3x"></i>
                        </div>
                        <h4 class="mb-3">Trabajo en equipo</h4>
                        <p>Tenemos el mejor equipo de trabajo para cada situación.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded overflow-hidden">
                    <img class="img-fluid" src="../../static/img/img-600x400-2.jpg" alt="">
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <i class="fa fa-hand-holding fa-3x"></i>
                        </div>
                        <h4 class="mb-3">Valores indispensables</h4>
                        <p>Trato, Respeto y la mejor orientación con el cliente.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded overflow-hidden">
                    <img class="img-fluid" src="../../static/img/img-600x400-3.jpg" alt="">
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <i class="fa fa-lightbulb fa-3x"></i>
                        </div>
                        <h4 class="mb-3">Soluciones Innovadoras</h4>
                        <p>Estamos siempre innovando para entregar soluciones energéticas.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

<!-- About Start -->
<div class="container-fluid overflow-hidden my-5 px-lg-0" style="background-color: #022873;">
    <div class="container about px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 ps-lg-0 wow fadeIn d-none d-lg-block" data-wow-delay="0.1s" style="min-height: 400px;">
                <br><br><br><br><br><br><br><br><br><br><br><br>
                <div class="position-relative h-200">
                    <img class="position-absolute img-fluid"
                        src="https://www.safiraenergia.cl/assets/linha_do_tempo_logos%203.svg"
                        style="object-fit: cover;" alt="">
                </div>
            </div>
            <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 pe-lg-0">
                    <h6 class="text-blue" style="color: #80BF21;">Nuestra historia</h6>
                    <h1 class="mb-4 text-white">Safira Energía: Innovación y Liderazgo en el Sector Energético</h1>
                    <p class="text-white">
                        Fundada en 2008 en Brasil, <strong>Safira Energía</strong> inició su trayectora como una empresa
                        comercializadora de energía dentro del <strong>Mercado Libre</strong>.
                    </p>
                    <p class="text-white">
                        Con una sólida expansión regional, en <strong>2018</strong> llegamos a <strong>Chile</strong>,
                        marcando el inicio de nuestra
                        presencia en el mercado eléctrico local. Un año después, en <strong>2019</strong>, consolidamos
                        nuestro compromiso
                        con la sostenibilidad y la seguridad energética al firmar nuestro <strong>primer contrato de
                            compra
                            y respaldo de energía a 10 años</strong>, un hito que reforzó nuestra posición como aliados
                        confiables en la industria.
                    </p>
                    <p class="text-white">
                        La innovación siempre ha sido parte de nuestro ADN. Por eso, en <strong>2020</strong>,
                        presentamos <strong>LUCE</strong>,
                        nuestra <strong>plataforma de gestión energética inteligente</strong>, diseñada para optimizar
                        el consumo y ofrecer soluciones tecnológicas
                        avanzadas a nuestros clientes.
                    </p>
                    <p class="text-white">
                        En <strong>2021</strong>, dimos un salto estratégico al ampliar nuestro enfoque hacia el
                        <strong>desarrollo y financiamiento de proyectos de eficiencia energética</strong>,
                        consolidando un modelo integral que combina <strong>sostenibilidad, tecnología y
                            rentabilidad</strong>. Gracias a esta visión, en <strong>2022</strong> alcanzamos logros
                        significativos: <strong>más de 65 GWh negociados y una cartera de más de 24 clientes</strong>,
                        demostrando nuestro crecimiento y capacidad de adaptación en un mercado
                        en constante evolución.
                    </p>
                    <p class="text-white">
                        Hoy, <strong>Safira Energía</strong> sigue comprometida con la <strong>excelencia operativa, la
                            innovación y la generación de valor</strong>, posicionándose como un referente en
                        el sector energético de la región.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Feature Start -->
<div class="container-fluid overflow-hidden my-5 px-lg-0">
    <div class="container feature px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.1s">
                <div class="p-lg-5 ps-lg-0">
                    <h6 class="text-blue" style="color: #022873;">Un extra más de nosotros!</h6>
                    <h1 class="mb-4">Más de Safira Energía</h1>
                    <p class="mb-4 pb-2 text-dark">
                        Somos parte de Grupo Safira, conformado por otras iniciativas dentro del mercado energético.
                    </p>
                    <div class="row g-4">
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <a href="https://gpsafira.com.br/home" target="_blank" class="btn rounded-pill py-3 px-5 mt-3" style="background-color: #D95C14; color: white;">Más de Grupo Safira</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pe-lg-0 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                <br>
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid" src="https://www.safiraenergia.cl/assets/logo_grupo%201.svg"
                        style="object-fit: cover;" width="90%" height="100%" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->
{% endblock %}