{% extends 'base/index.html' %}

{% block title %}
Safira Energía - Preguntas Frecuentes
{% endblock %}

{% block content %}
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Preguntas frecuentes</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="/home">Inicio</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">FAQs</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<!-- Feature Start -->
<div class="container-fluid overflow-hidden px-lg-0">
    <div class="container feature px-lg-0">
        <div class="row g-0 mx-lg-0">
            <!-- Columna izquierda (título + acordeón 1) -->
            <h2 class="text-dark mb-4">Mercado Libre</h2>
            <div class="col-lg-6 feature-text py-4 fadeIn pe-lg-4">
                <!-- Añadí pe-lg-4 para padding derecho en desktop -->
                <!-- Acordeón 1 -->
                <div class="accordion accordion-custom" id="accordionLeft">
                    <!-- Item 1 -->
                    <div class="accordion-item border-bottom border-1">
                        <h2 class="accordion-header" id="headingLeftOne">
                            <button class="accordion-button collapsed bg-transparent shadow-none py-3 px-0"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseLeftOne"
                                aria-expanded="false" aria-controls="collapseLeftOne">
                                <span class="d-flex align-items-center justify-content-between w-100">
                                    <h4 class="text-dark fw-medium">¿Como se basa el mercado libre de energía?</h4>
                                    <span
                                        class="toggle-icon rounded-circle d-flex align-items-center justify-content-center ms-3">
                                        <span class="minus d-none">-</span>
                                        <span class="plus">+</span>
                                    </span>
                                </span>
                            </button>
                        </h2>
                        <div id="collapseLeftOne" class="accordion-collapse collapse" aria-labelledby="headingLeftOne"
                            data-bs-parent="#accordionLeft">
                            <div class="accordion-body pt-0 pb-3 px-0">
                                <p class="text-dark">
                                    Empresas con demandas superiores a 300 kW, el mercado libre ofrece autonomía
                                    energética real.
                                    Aquí, usted negocia directamente precios competitivos y diseña contratos a medida
                                    con cláusulas adaptadas a sus patrones de consumo.
                                    Podrá seleccionar libremente su comercializador y optar por energía 100% renovable,
                                    híbrida o convencional, con certificados que garantizan su origen
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border-bottom border-1">
                        <h2 class="accordion-header" id="headingLeftTwo">
                            <button class="accordion-button collapsed bg-transparent shadow-none py-3 px-0"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseLeftTwo"
                                aria-expanded="false" aria-controls="collapseLeftTwo">
                                <span class="d-flex align-items-center justify-content-between w-100">
                                    <h4 class="text-dark fw-medium">¿Cual es el ahorro de energía al migrar a libre?
                                    </h4>
                                    <span
                                        class="toggle-icon rounded-circle d-flex align-items-center justify-content-center ms-3">
                                        <span class="minus d-none">-</span>
                                        <span class="plus">+</span>
                                    </span>
                                </span>
                            </button>
                        </h2>
                        <div id="collapseLeftTwo" class="accordion-collapse collapse" aria-labelledby="headingLeftTwo"
                            data-bs-parent="#accordionLeft">
                            <div class="accordion-body pt-0 pb-3 px-0">
                                <p class="text-dark">
                                    Ahorras hasta un <strong class="text-dark">30%</strong> de ahorro en costos de
                                    energía.
                                    Libertad de elección y negociación.
                                    Previsibilidad del presupuesto.
                                    Consumo sostenible
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Columna derecha (acordeón 2) -->
            <div class="col-lg-6 feature-text py-4 fadeIn ps-lg-4" data-wow-delay="0.1s">
                <!-- Añadí ps-lg-4 para padding izquierdo en desktop -->
                <!-- Acordeón 2 -->
                <div class="accordion accordion-custom" id="accordionRight">
                    <!-- Item 1 -->
                    <div class="accordion-item border-bottom border-1">
                        <h2 class="accordion-header" id="headingRightOne">
                            <button class="accordion-button collapsed bg-transparent shadow-none py-3 px-0"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseRightOne"
                                aria-expanded="false" aria-controls="collapseRightOne">
                                <span class="d-flex align-items-center justify-content-between w-100">
                                    <h4 class="text-dark fw-medium">¿Qué es el mercado libre de energía?</h4>
                                    <span
                                        class="toggle-icon rounded-circle d-flex align-items-center justify-content-center ms-3">
                                        <span class="minus d-none">-</span>
                                        <span class="plus">+</span>
                                    </span>
                                </span>
                            </button>
                        </h2>
                        <div id="collapseRightOne" class="accordion-collapse collapse" aria-labelledby="headingRightOne"
                            data-bs-parent="#accordionRight">
                            <div class="accordion-body pt-0 pb-3 px-0">
                                <p class="text-dark">
                                    Es un sistema donde podemos comercializar libremente con la electricidad,
                                    brindándole al consumidor final la oportunidad
                                    de elegir quién le suministra energía.
                                </p>
                                <p class="text-dark">
                                    El Mercado Libre de Energía es un entorno de negociación que permite a los
                                    consumidores contratar
                                    su suministro eléctrico directamente de las empresas generadoras o
                                    comercializadoras.
                                </p>
                                <p class="text-dark">
                                    Los consumidores y proveedores negocian entre ellos las condiciones de contratación
                                    de energía.
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Item 2 -->
                    <div class="accordion-item border-bottom border-1">
                        <h2 class="accordion-header" id="headingRightTwo">
                            <button class="accordion-button collapsed bg-transparent shadow-none py-3 px-0"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseRightTwo"
                                aria-expanded="false" aria-controls="collapseRightTwo">
                                <span class="d-flex align-items-center justify-content-between w-100">
                                    <h4 class="text-dark fw-medium">Beneficios de ser consumidor libre</h4>
                                    <span
                                        class="toggle-icon rounded-circle d-flex align-items-center justify-content-center ms-3">
                                        <span class="minus d-none">-</span>
                                        <span class="plus">+</span>
                                    </span>
                                </span>
                            </button>
                        </h2>
                        <div id="collapseRightTwo" class="accordion-collapse collapse" aria-labelledby="headingRightTwo"
                            data-bs-parent="#accordionRight">
                            <div class="accordion-body pt-0 pb-3 px-0">
                                <p class="text-dark">
                                    <li class="text-dark">Reducción de costos</li>
                                    <li class="text-dark">Escoger entre varios proveedores</li>
                                    <li class="text-dark">Posicionamiento estratégico</li>
                                    <li class="text-dark">Acceso a energía de fuentes renovables</li>
                                    <li class="text-dark">Negociación de precios, plazos e índices</li>
                                    <li class="text-dark">Inversión en generación de energía</li>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br><br>
<!-- Feature Start -->
<div class="container-fluid overflow-hidden px-lg-0">
    <div class="container feature px-lg-0">
        <div class="row g-0 mx-lg-0">
            <!-- Columna izquierda (título + acordeón 1) -->
            <h2 class="text-dark mb-4">Entidades</h2>
            <div class="col-12 feature-text py-4 fadeIn pe-lg-4">
                <!-- Añadí pe-lg-4 para padding derecho en desktop -->
                <!-- Acordeón 1 -->
                <div class="accordion accordion-custom" id="accordionLeft">
                    <!-- Item 1 -->
                    <div class="accordion-item border-bottom border-1">
                        <h2 class="accordion-header" id="headingLeftThree">
                            <button class="accordion-button collapsed bg-transparent shadow-none py-3 px-0"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseLeftThree"
                                aria-expanded="false" aria-controls="collapseLeftThree">
                                <span class="d-flex align-items-center justify-content-between w-100">
                                    <h4 class="text-dark fw-medium">¿Quién es Grupo Safira?</h4>
                                    <span
                                        class="toggle-icon rounded-circle d-flex align-items-center justify-content-center ms-3">
                                        <span class="minus d-none">-</span>
                                        <span class="plus">+</span>
                                    </span>
                                </span>
                            </button>
                        </h2>
                        <div id="collapseLeftThree" class="accordion-collapse collapse"
                            aria-labelledby="headingLeftThree" data-bs-parent="#accordionLeft">
                            <div class="accordion-body pt-0 pb-3 px-0">
                                <p class="text-dark">
                                    Grupo Safira ayuda a las personas a economizar un 10% consumiendo energía limpia
                                </p>
                                <a href="https://gpsafira.com.br/home"
                                    class="btn btn-primary rounded-0 px-4 py-2 fw-medium align-items-center justify-content-center">
                                    Más de Grupo Safira
                                    <i class="bi bi-arrow-up-right ms-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>

<!-- Feature Start -->
<div class="container-fluid bg-multicolor py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h1 class="mb-4">¿Aún sigues con dudas?</h1>
                <div class="mb-4 d-flex justify-content-center">
                    <div style="width: 60px; height: 60px; border: 2px solid #022873; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                        <i class="fa-solid fa-question" style="font-size: 1.5rem; color: #022873;"></i>
                    </div>
                </div>
                <p class="mb-5 mx-auto text-dark" style="max-width: 700px;">
                    Mandanos un mensaje sobre todas tus dudas y nosotros nos encargamos de responderte
                </p>
                <a href="{% url 'contactos' %}"
                    class="btn btn-primary rounded-0 px-4 py-2 fw-medium align-items-center justify-content-center">
                    Habla con nosotros
                    <i class="bi bi-telephone"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->
{% endblock %}