/********** Template CSS **********/
:root {
    --primary: #80BF21;
    --light: #F6F7F8;
    --dark: #1A2A36;
    --blue: #022873;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-black {
    font-weight: 900 !important;
}